<br>

<div class="col-md-4 col-md-offset-4">
  <div class="well">
    <%= form_with(model: test, local: true) do |f| %>
      <% if test.errors.any? %>
        <div id="error_explanation">
          <h2>There 
          <%= test.errors.count > 1 ? 'were' : 'was' %> 
          <%= pluralize(test.errors.count, "error") %> 
          that prohibited the upload:</h2>
    
          <ul>
          <% test.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>  
      
      <div class="form-group">
        <%= f.label :uploads %>
        <%= f.file_field :uploads, multiple: true, 
                            direct_upload: true, 
                            accept: 'image/png, image/gif, image/jpeg, image/jpg', 
                            class: 'form-control' 
        %> <!--for multiple uploads-->
      </div>
    
      <div class="form-group">
        <%= f.submit 'Upload', class: 'btn btn-primary', data: { "disable-with": "Uploading..." }%>
      </div>
    <% end %>
    
    
  </div>
</div>

<script type="text/javascript">
  $('#test_uploads').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size for an image is 5MB. Please choose a smaller file.');
    }
  });
</script>

