<!--<p id="test"><%= test.name %></p>-->

<!--<li>-->
<!--  <strong>Name:</strong>-->
<!--  <%= test.name %>-->
<!--</li>-->
<li>

    <% @gallery_thumbnails = Hash.new  %>
    <% @countdown = { zero: 0, one: 1, two: 2, three: 3, four: 4, five: 5, six: 6, seven: 7, eight: 8, nine: 9};  %>
  <!--<strong>Uploads:</strong> <br>-->

  <% (0..test.uploads.length-1).each do |i| %> 
    <% @gallery_thumbnails[i] = test.thumbnail(i) %>
    <%#= image_tag(@test.uploads[i]) %>
  <% end %>  

  <br>

  <strong>GALLERY SIZE: <%= @gallery.size %></strong> <br>

  
  <strong><%= @gallery %></strong> <br>
  <%= image_tag(@gallery[0]) %>
  <%#= image_tag(@gallery[0]) %>
  <%#= image_tag(test.thumbnail(0)) %>
  <%#= image_tag(test.uploads[0].variant(resize: "500x500")) %>

  <br>
  
  <%#= @countdown.values[5] %>
  <%#= image_tag(@gallery[0]) %>
</li>
  <button id="TableButton" class='btn btn-success btn-lg btn-block'></button> 
  <br>
  <%= content_tag :div, :strong, id: "demo" do %>
  <% end %>
  <img id="imageid" />
  
  

<script>
  var max = 11;
  setInterval(countdown, 1000);
  var current_index = 0
  function countdown(){
	  max--;
    if (max > 0){
      document.getElementById("demo").innerHTML = max;
    }else{
      document.getElementById("demo").innerHTML = 10;
      max = 10;
    }
    // if (typeof gon.your_array[max] !== 'undefined'){
    //     // alert(gon.your_array[max])
    // } 
    // alert(gon.your_int) //size of the array, @gallery
    var img = document.getElementById('imageid');
    // img.src = gon.your_array[max%gon.your_int]
  
    if (current_index == gon.your_int) {
      current_index = 0
    }
    // https://stackoverflow.com/questions/44341721/how-to-display-dynamic-url-image-in-html-from-which-created-by-javascript
    img.src = gon.your_array[current_index]
    current_index++;
  }

</script>

<script>
  Table = $("#Table").DataTable({
    data: [],
    columns: [
                { "data": "Timer Value"},
                { "data": "Current Image URL"}
    ],
    rowCallback: function (row, data) {},
    filter: false,
    info: false,
    ordering: false,
    processing: true,
    retrieve: true
  });
</script>

<script>
  $("#TableButton").on("click", function(event)){
    $.ajax({
            Table.rows.add()
    });
  }
</script>
