
<!--<%# @shuffledGallery_thumbnails = Hash.new  %>-->

<!--<%# (0..test.uploads.length-1).each do |i| %> -->
<!--  <%# @shuffledGallery_thumbnails[i] = test.thumbnail(i) %>-->
<!--<%# end %>  -->

<div class='container'>
  <h1><strong>Number of images uploaded: <%= @test.uploads.size %></strong> </h1>
  <h1><strong>Number of up to 10 images randomly chosen: <%= @newGallerySize %></strong> </h1>
</div>

<br>

<div class='container-fluid'>

  <table id="PLAYS">
    <tr>
      <th colspan="3"><strong>PLAYS</strong></th>
    </tr> 
    <tr>
      <th>Countdown Value</th>
      <th>Image</th>
    </tr> 
    <% rails_index = 0 %>
    <% (10.to_i).downto(0) { |countdown| %>
      <tr>
        <td><strong><%= countdown %></strong> 
        </td>
        
       <td> <% if (rails_index == @newGallerySize) %>
              <% rails_index = 0 %>
            <% end %>
            <%= image_tag(@newestGallery[rails_index]) %>
        </td>
        
      </tr>
      <% rails_index += 1 %>
    <% } %>
  </table>
</div>

 <br>
 <br>
 
<div class='container'>
  <h1><strong>Number of images uploaded: <%= @test.uploads.size %></strong> </h1>
  <h1><strong>Number of up to 10 images randomly chosen: <%= @newGallerySize %></strong> </h1>
</div>

 <br>
 <br>
 
<div class='container'>
  <div class="row">
      <div class="col-md-8 col-md-offset-2">
          <button onclick="fillTable()" class='btn btn-primary btn-lg btn-block'>CREATE ROW</button> 
      </div>
  </div>
</div>

 <br>
 
<div class='container-fluid'>
  <%= content_tag :h1, :strong, class:'text-center', id: "demo" do %>
  <% end %>
   <br>
  <img id="imageid"/>
</div>

  <br>


<script>

</script>
<script>
  var countdownValue = 10;
  setInterval(countdown, 1000);
  var current_index = 0

  function countdown(){
    if (countdownValue > 0){
      document.getElementById("demo").innerHTML = countdownValue;
    }else{
      document.getElementById("demo").innerHTML = 10;
      countdownValue = 10;
    }

    var img = document.getElementById('imageid');
    // alert(gon.your_int) //size of the array, @gallery
    if (current_index == gon.your_int) {
      current_index = 0
    }

    // https://stackoverflow.com/questions/44341721/how-to-display-dynamic-url-image-in-html-from-which-created-by-javascript
    img.src = gon.your_array[current_index]
	  countdownValue--;
    current_index++;
  }  

</script>

<script>
  // https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_table_insert_deleterow
  // https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_onload_dom
  //https://stackoverflow.com/questions/7882356/javascript-get-img-src-and-set-as-variable
  function fillTable(){
    var x = document.getElementById("demo").innerHTML;
    var y = document.getElementById("imageid").src;
    var table = document.getElementById("PLAYS");
    var row = table.insertRow(-1);
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
    
    cell1.innerHTML = '<strong>'+x+'</strong>';
    cell2.innerHTML = '<img src='+y+'>';
  }
</script>

