<!--<p id="test"><%= test.name %></p>-->

<!--<li>-->
<!--  <strong>Name:</strong>-->
<!--  <%= test.name %>-->
<!--</li>-->
<li>

    <% @gallery_thumbnails = Hash.new  %>
    <% @countdown = { zero: 0, one: 1, two: 2, three: 3, four: 4, five: 5, six: 6, seven: 7, eight: 8, nine: 9};  %>
  <!--<strong>Uploads:</strong> <br>-->

  <% (0..test.uploads.length-1).each do |i| %> 
    <% @gallery_thumbnails[i] = test.thumbnail(i) %>
    <%#= image_tag(@test.uploads[i]) %>
  <% end %>  

  <br>
  
  <%= test2 %>
  <%= content_tag :div, id: "demo" do %>
  <% end %>
  <strong>GALLERY SIZE: <%= @gallery.size %></strong> <br>

  
  <strong><%= @gallery %></strong> <br>
  <%= image_tag(@gallery[0]) %>
  <%#= image_tag(@gallery[0]) %>
  <%#= image_tag(test.thumbnail(0)) %>
  <%#= image_tag(test.uploads[0].variant(resize: "500x500")) %>

  <br>
  
  <%#= @countdown.values[5] %>
  <%#= image_tag(@gallery[0]) %>
</li>

<script>
  var max = 3;
  setInterval(countdown, 1000);
  
  function countdown(){
	  max--;
    if (max > 0){
      document.getElementById("demo").innerHTML = max;
      if (typeof gon.your_array[max] !== 'undefined'){
        alert(gon.your_array[max])
      } 
      
    }else{
      document.getElementById("demo").innerHTML = 2;
      max = 2;
    }
  }

  
</script>
 <script>
//   var max = 11;
//   setInterval(countdown, 1000);
  
//   function countdown(){
// 	  max--;
//     if (max > 0){
//       document.getElementById("demo").innerHTML = max;
//     }else{
//       document.getElementById("demo").innerHTML = 10;
//       max = 10;
//     }
//   }

// </script>
