<!--<p id="test"><%= test.name %></p>-->

<!--<li>-->
<!--  <strong>Name:</strong>-->
<!--  <%= test.name %>-->
<!--</li>-->
<li>

    <% @shuffledGallery_thumbnails = Hash.new  %>
  <!--<strong>Uploads:</strong> <br>-->

  <% (0..test.uploads.length-1).each do |i| %> 
    <% @shuffledGallery_thumbnails[i] = test.thumbnail(i) %>
    <%#= image_tag(@test.uploads[i]) %>
  <% end %>  

  <br>
  <strong>NEW GALLERY SIZE: <%= @newGallerySize %></strong> 
  <br>


</li>


  <table id="PLAYS">
    <tr>
      <th colspan="3"><strong>PLAYS</strong></th>
    </tr> 
    <tr>
      <th>Countdown Value</th>
      <th>Image</th>
    </tr> 
    <% rails_index = 0 %>
    <% (10.to_i).downto(0) { |countdown| %>
      <tr>
        <td><%= countdown %>
        </td>
        
       <td> <% if (rails_index == @newGallerySize) %>
              <% rails_index = 0 %>
            <% end %>
            <%= image_tag(@newestGallery[rails_index]) %>
        </td>
        
      </tr>
      <% rails_index += 1 %>
    <% } %>
  </table>
  
  <div class="row">
      <div class="col-md-4 col-md-offset-4">
          <button onclick="fillTable()" class='btn btn-success btn-lg btn-block'>CREATE ROW</button> 
      </div>
  </div>
  
  <br>
  <%= content_tag :h1, :strong, id: "demo" do %>
  <% end %>
  <img id="imageid" />
  


<script>

</script>
<script>
  var countdownValue = 10;
  setInterval(countdown, 1000);
  var current_index = 0

  function countdown(){
    if (countdownValue > 0){
      document.getElementById("demo").innerHTML = countdownValue;
    }else{
      document.getElementById("demo").innerHTML = 10;
      countdownValue = 10;
    }

    var img = document.getElementById('imageid');
    // alert(gon.your_int) //size of the array, @gallery
    if (current_index == gon.your_int) {
      current_index = 0
    }

    // https://stackoverflow.com/questions/44341721/how-to-display-dynamic-url-image-in-html-from-which-created-by-javascript
    img.src = gon.your_array[current_index]
	  countdownValue--;
    current_index++;
  }  

</script>

<script>
  // https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_table_insert_deleterow
  // https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_onload_dom
  //https://stackoverflow.com/questions/7882356/javascript-get-img-src-and-set-as-variable
  function fillTable(){
    var x = document.getElementById("demo").innerHTML;
    var y = document.getElementById("imageid").src;
    var table = document.getElementById("PLAYS");
    var row = table.insertRow(-1);
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
    
    cell1.innerHTML = x;
    cell2.innerHTML = '<img src='+y+'>';
  }
</script>

