<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @test.name %>
</p>
<p>
  <strong>Uploads from @test2:</strong>
  <% @test2 = String.new("This is my string. Get your own string")  %> 

  <ul id="tests">
    <%= render @test %>
  </ul>
 <%= @test2 %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
