<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @test.name %>
</p>
<p>
  <strong>Uploads from @test2:</strong>
  <%#= @test2  %>
   <%= @test.uploads[0] %> <br>
      <% if @test2.nil? %>
        <%= "NIL" %>
      <% else %>
        <%= @test2 %>
      <% end %>

</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
